
.booking-form {
   
    
    background: linear-gradient(120deg, #4e80d1, #c2e9fb);;
   
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
tr:hover {
    background-color: #ddd;
}
.submit-cell {
    text-align: center;
}
.merge-row {
    vertical-align: middle;
}
input[type=text], input[type=time], input[type=date], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
   
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
h2{
    color: coral;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
th{display:flex;
    border: none;

   
}
th img{

    margin-right: 20px;
}

